@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    color: #788487;
    position: relative;
}

p {
    line-height: 28px;
    font-size: 15px;
}

html {
    overflow-x: hidden !important;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 0px;
    color: #232323;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #000;
}

img {
    max-width: 100%;
}

a:hover {
    color: #635CDB;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.no-padding {
    padding: 0
}

.flaticon {
    display: inline
}



h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
    line-height: 38px;
}

h4 {
    font-size: 22px;
    line-height: 32px;
}

h5 {
    font-size: 16px;
    line-height: 24px;
}

h6 {
    font-size: 14px;
    line-height: 26px;
}


.f-color {
    color: #635CDB;
}

h5.subtitle {
    font-size: 16px;
    font-weight: 400;
}


.mb30 {
    margin-bottom: 30px;
}

.section-padding {
    padding: 90px 0px;
}

.section-heading {
    text-align: center;
    width: 70%;
    margin: 0 auto 60px;
}

.section-title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 15px;
    text-transform: capitalize
}

.section-title span {
    color: #635CDB;
}
.section{
    padding: 100px 0px;
}


.line {
    width: 50px;
    background: #635CDB;
    height: 1px;
    margin: 10px auto;
}




/*---------- BUTTONS ----------*/

.startBtn {
    margin-top:500px;
}

.btn {
    font: 600 10.5px/1;
    display: inline-block;
    padding: 15px 45px 15px 45px;
    text-transform: uppercase;
    border: 2px solid transparent;
    -webkit-transition: all .2s;
    transition: all .2s;
    border-radius: 0px;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
}

.btn:focus,
.btn:active,
.btn:active:focus {
    outline: none;
    box-shadow: none;
}

.btn-hero,
.btn-white:hover {
    color: #fff !important;
    background: #635CDB;
}

.btn-hero:focus {
    color: #fff !Important;
}

.btn-black,
.btn-hero:hover {
    background-color: rgba(0, 0, 0, 1);
    color: #fff !Important;
}

.btn-black:hover {
    color: #fff;
    background: #635CDB;
}

.btn-black:focus {
    color: #fff;
}

.btn-white {
    background-color: rgba(255, 255, 255, .95);
    color: rgba(0, 0, 0, .85);
    border-color: rgba(255, 255, 255, .12);
}

.btn-white:focus {
    color: #000;
}

.btn-white:active {
    color: #fff;
}

.btn-trans-black {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, .15);
    color: rgba(0, 0, 0, .85);
}

.btn-trans-black:hover {
    color: rgba(255, 255, 255, 1);
    background-color: #000;
}

.btn-trans-white {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .15);
    color: rgba(255, 255, 255, .95);
}

.btn-trans-white:hover {
    background-color: rgba(255, 255, 255, .95);
    color: rgba(0, 0, 0, .85);
    border-color: rgba(255, 255, 255, .12);
}

.btn-trans-white:active,
.btn-trans-white:focus {
    color: #fff;
    background-color: transparent;
    border-color: rgba(255, 255, 255, .12);
}

.btn-rounded {
    border-radius: 2px;
}

.btn-circled {
    border-radius: 40px;
}


.btn-trans-black:hover {
    background: #635CDB !important;
}



/*---------- COLORS ----------*/

/*-- Background Colors --*/

.bg-black {
    background-color: #000;
}

.bg-dark {
    background-color: rgba(0, 0, 0, .96);
}

.bg-feature {
    background-color: #635CDB;
}

.bg-primary {
    background-color: #0db8ca;
}

.bg-gray {
    background-color: #f2f4ec;
}

.bg-white {
    background-color: #fff;
}


.d-table {
    width: 100%;
}


.d-table-cell {
    vertical-align: middle;
}


.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.brown-overlay {
    background: #222955;
    opacity: .97;
}

.feature-overlay {
    background: #635CDB;
    opacity: .97;
}

.gr-overlay {
    background: linear-gradient(135deg, #2f1ce0 0%, #53a0fd 30%, #51eca5 100%);
    opacity: .87;
}


/*------------------------------------
  MENU NAVIGATION AREA
----------------------------------*/

.site-navigation,
.trans-navigation {
    padding: 20px 0px;
}

.site-navigation .navbar-nav a,
.trans-navigation .navbar-nav a {
    text-transform: uppercase;
}

.site-navigation .navbar-nav a.active,
.trans-navigation .navbar-nav a.active {
    color: red;
}


.header-white {
    position: fixed;
    top: 0px;
    background: #111;
    z-index: 9999;
    width: 100%;
    left: 0;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    color: #000 !important;
}

.navbar-expand-lg.trans-navigation .navbar-nav .nav-link,
.navbar-expand-lg.site-navigation .navbar-nav .nav-link {
    padding: 0px 24px;
}

.navbar-expand-lg.trans-navigation .navbar-nav .nav-link:last-child,
.navbar-expand-lg.site-navigation .navbar-nav .nav-link:last-child {
    padding-right: 0px;
}

.site-navigation,
.trans-navigation {
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.navbar-brand {
    padding-top: 0px;
    margin-right: 60px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
}

.navbar-brand span {
    font-weight: 400;
}


.navbar-expand-lg.trans-navigation .navbar-nav .nav-link {
    color: #fff;
}


.trans-navigation {
    background: transparent;
}


.trans-navigation.header-white {
    background: #111;
}

.trans-navigation.header-white .navbar-nav .nav-link {
    color: #fff;
}

.trans-navigation.header-white .navbar-nav a.active {
    color: #635CDB;

}
.navbar-brand img {
    max-width: 100%;
}


.trans-navigation.header-white .btn-white {
    background: #635CDB;
    color: #fff;
}


/* ===============================
 DROPDOWN MENU
================================*/

.navbar-expand-lg.trans-navigation .navbar-nav .nav-link.dropdown-toggle{
    padding-right: 0px;
}

.nav-item.dropdown .dropdown-menu{
    -webkit-transition: all 300ms ease;
    -o-transition:all 300ms ease;
    transition: all 300ms ease;
    display: block;
    visibility: hidden;
    opacity: 0;
    top: 120%;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
    border: 0px;
    padding: 0px;
    position: absolute;
}

.nav-item.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
    top: 100%;
}


.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #635CDB;

}



.dropdown-toggle::after{
    display: none;
}
.dropdown-menu {
    opacity: 0
}

.dropdown-menu.show {
    animation: .2s forwards b
}

@keyframes b {
    to {
        opacity: 1
    }
}

.dropdown-item {
    font-size: .6875rem;
    font-weight: 500;
    padding-top: .5rem;
    padding-bottom: .5rem;
    transition: background-color .1s;
    text-transform: uppercase
}

@media (min-width:1200px) {
    .dropdown-item {
        padding-top: .75rem;
        padding-bottom: .75rem
    }
}

@media (min-width:1200px) {
    .dropdown-item + .dropdown-item {
        border-top: 1px solid rgba(0, 0, 0, .1)
    }
}




/*------------------------------------
 BANNER AREA
----------------------------------*/

.banner-area .content-padding {
    margin-bottom:0px;
}


.content-padding {
    padding: 730px 0px 80px;
}

.banner-content {
    padding-right: 30px;
}

.banner-content .btn {
    margin-top: 15px;
}


.banner-content .banner-title {
    color: #fff;
    font-weight: 700;

}

.banner-content .subtitle {
    color: #fff;
    background: #635CDB;
    display: inline-block;
    padding: 3px 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.banner-content p {
    margin: 20px 0px;
    color: #eee;
    font-size: 18px;
    line-height: 30px;
}

.banner-content .btn {
    margin-right: 12px;
}

.btn-sm {
    padding: 10px 30px;
}


.banner-1 {
    background: url("../img/spacetraders.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #181818
}


.section-heading h2 {
    margin-bottom: 20px;
    font-weight: 400;
}

.heading{
    margin-bottom: 70px;
}
